WORDPRESS_URL="https://dacarch.com/"
WORDPRESS_HOSTNAME="dacarch.com/"

# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET="331ed3dd7674f4bfab7a0958610ef9bd0411a1fdff4f9466dce30757aaa03c2c"
